<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boomAnim0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,338}</string>
                <key>spriteSourceSize</key>
                <string>{526,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{526,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boomAnim1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{474,338}</string>
                <key>spriteSourceSize</key>
                <string>{526,338}</string>
                <key>textureRect</key>
                <string>{{627,1},{474,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boomAnim2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{316,338}</string>
                <key>spriteSourceSize</key>
                <string>{526,338}</string>
                <key>textureRect</key>
                <string>{{943,477},{316,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boomAnim3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{124,338}</string>
                <key>spriteSourceSize</key>
                <string>{526,338}</string>
                <key>textureRect</key>
                <string>{{967,1},{124,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boomAnim4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{124,338}</string>
                <key>spriteSourceSize</key>
                <string>{526,338}</string>
                <key>textureRect</key>
                <string>{{967,1},{124,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boomBg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{166,234}</string>
                <key>spriteSourceSize</key>
                <string>{178,258}</string>
                <key>textureRect</key>
                <string>{{1731,1},{166,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boomBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{174,240}</string>
                <key>spriteSourceSize</key>
                <string>{178,258}</string>
                <key>textureRect</key>
                <string>{{1117,301},{174,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boomBg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{176,242}</string>
                <key>spriteSourceSize</key>
                <string>{178,258}</string>
                <key>textureRect</key>
                <string>{{1553,1},{176,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boomBg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{166,246}</string>
                <key>spriteSourceSize</key>
                <string>{178,258}</string>
                <key>textureRect</key>
                <string>{{1469,804},{166,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boomBg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,250}</string>
                <key>spriteSourceSize</key>
                <string>{178,258}</string>
                <key>textureRect</key>
                <string>{{1133,817},{166,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boomBg5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{166,252}</string>
                <key>spriteSourceSize</key>
                <string>{178,258}</string>
                <key>textureRect</key>
                <string>{{1301,814},{166,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boomBg6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{164,258}</string>
                <key>spriteSourceSize</key>
                <string>{178,258}</string>
                <key>textureRect</key>
                <string>{{1465,475},{164,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boomBg7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{164,258}</string>
                <key>spriteSourceSize</key>
                <string>{178,258}</string>
                <key>textureRect</key>
                <string>{{1465,475},{164,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boomEnd0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,338}</string>
                <key>spriteSourceSize</key>
                <string>{526,338}</string>
                <key>textureRect</key>
                <string>{{1,529},{526,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boomEnd1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{526,284}</string>
                <key>spriteSourceSize</key>
                <string>{526,338}</string>
                <key>textureRect</key>
                <string>{{341,1},{526,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boomEnd2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{526,284}</string>
                <key>spriteSourceSize</key>
                <string>{526,338}</string>
                <key>textureRect</key>
                <string>{{341,529},{526,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bump_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{192,189}</string>
                <key>spriteSourceSize</key>
                <string>{194,197}</string>
                <key>textureRect</key>
                <string>{{1637,868},{192,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bump_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,197}</string>
                <key>spriteSourceSize</key>
                <string>{194,197}</string>
                <key>textureRect</key>
                <string>{{1605,245},{194,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bump_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-7}</string>
                <key>spriteSize</key>
                <string>{114,99}</string>
                <key>spriteSourceSize</key>
                <string>{194,197}</string>
                <key>textureRect</key>
                <string>{{1776,662},{114,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bump_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-7}</string>
                <key>spriteSize</key>
                <string>{136,119}</string>
                <key>spriteSourceSize</key>
                <string>{194,197}</string>
                <key>textureRect</key>
                <string>{{1888,323},{136,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bump_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-8}</string>
                <key>spriteSize</key>
                <string>{150,131}</string>
                <key>spriteSourceSize</key>
                <string>{194,197}</string>
                <key>textureRect</key>
                <string>{{1888,444},{150,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bump_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-8}</string>
                <key>spriteSize</key>
                <string>{164,143}</string>
                <key>spriteSourceSize</key>
                <string>{194,197}</string>
                <key>textureRect</key>
                <string>{{1631,566},{164,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bump_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-9}</string>
                <key>spriteSize</key>
                <string>{170,147}</string>
                <key>spriteSourceSize</key>
                <string>{194,197}</string>
                <key>textureRect</key>
                <string>{{1877,696},{170,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chip_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,12}</string>
                <key>spriteSourceSize</key>
                <string>{11,12}</string>
                <key>textureRect</key>
                <string>{{943,817},{11,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,12}</string>
                <key>spriteSourceSize</key>
                <string>{11,12}</string>
                <key>textureRect</key>
                <string>{{956,817},{11,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,12}</string>
                <key>spriteSourceSize</key>
                <string>{11,12}</string>
                <key>textureRect</key>
                <string>{{969,817},{11,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crash0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,95}</string>
                <key>spriteSourceSize</key>
                <string>{81,95}</string>
                <key>textureRect</key>
                <string>{{1801,237},{81,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crash1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{51,63}</string>
                <key>spriteSourceSize</key>
                <string>{81,95}</string>
                <key>textureRect</key>
                <string>{{1454,739},{51,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crash2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{57,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,95}</string>
                <key>textureRect</key>
                <string>{{1586,735},{57,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crash3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{51,69}</string>
                <key>spriteSourceSize</key>
                <string>{81,95}</string>
                <key>textureRect</key>
                <string>{{1320,739},{51,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crash4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{57,73}</string>
                <key>spriteSourceSize</key>
                <string>{81,95}</string>
                <key>textureRect</key>
                <string>{{1261,739},{57,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crash5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{61,77}</string>
                <key>spriteSourceSize</key>
                <string>{81,95}</string>
                <key>textureRect</key>
                <string>{{1507,735},{61,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crash6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{63,79}</string>
                <key>spriteSourceSize</key>
                <string>{81,95}</string>
                <key>textureRect</key>
                <string>{{1373,739},{63,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{134,148}</string>
                <key>spriteSourceSize</key>
                <string>{484,478}</string>
                <key>textureRect</key>
                <string>{{967,341},{134,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{104,124}</string>
                <key>spriteSourceSize</key>
                <string>{484,478}</string>
                <key>textureRect</key>
                <string>{{1899,115},{104,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-5}</string>
                <key>spriteSize</key>
                <string>{230,286}</string>
                <key>spriteSourceSize</key>
                <string>{484,478}</string>
                <key>textureRect</key>
                <string>{{627,837},{230,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-6}</string>
                <key>spriteSize</key>
                <string>{242,298}</string>
                <key>spriteSourceSize</key>
                <string>{484,478}</string>
                <key>textureRect</key>
                <string>{{1093,1},{242,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-32}</string>
                <key>spriteSize</key>
                <string>{166,120}</string>
                <key>spriteSourceSize</key>
                <string>{484,478}</string>
                <key>textureRect</key>
                <string>{{1631,444},{166,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-14}</string>
                <key>spriteSize</key>
                <string>{112,126}</string>
                <key>spriteSourceSize</key>
                <string>{484,478}</string>
                <key>textureRect</key>
                <string>{{1899,1},{112,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{104,124}</string>
                <key>spriteSourceSize</key>
                <string>{484,478}</string>
                <key>textureRect</key>
                <string>{{1899,115},{104,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-16}</string>
                <key>spriteSize</key>
                <string>{100,122}</string>
                <key>spriteSourceSize</key>
                <string>{484,478}</string>
                <key>textureRect</key>
                <string>{{1899,221},{100,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-22}</string>
                <key>spriteSize</key>
                <string>{314,358}</string>
                <key>spriteSourceSize</key>
                <string>{484,478}</string>
                <key>textureRect</key>
                <string>{{627,477},{314,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-23}</string>
                <key>spriteSize</key>
                <string>{200,244}</string>
                <key>spriteSourceSize</key>
                <string>{484,478}</string>
                <key>textureRect</key>
                <string>{{1359,273},{200,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-24}</string>
                <key>spriteSize</key>
                <string>{216,228}</string>
                <key>spriteSourceSize</key>
                <string>{484,478}</string>
                <key>textureRect</key>
                <string>{{915,837},{216,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-6}</string>
                <key>spriteSize</key>
                <string>{202,260}</string>
                <key>spriteSourceSize</key>
                <string>{484,478}</string>
                <key>textureRect</key>
                <string>{{1261,477},{202,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-4}</string>
                <key>spriteSize</key>
                <string>{214,270}</string>
                <key>spriteSourceSize</key>
                <string>{484,478}</string>
                <key>textureRect</key>
                <string>{{1337,1},{214,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightShine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{1645,778},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selectBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,113}</string>
                <key>spriteSourceSize</key>
                <string>{85,113}</string>
                <key>textureRect</key>
                <string>{{1801,320},{85,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selectLight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,112}</string>
                <key>spriteSourceSize</key>
                <string>{85,112}</string>
                <key>textureRect</key>
                <string>{{1801,435},{85,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selectStar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{1645,732},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starCrash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,98}</string>
                <key>spriteSourceSize</key>
                <string>{129,98}</string>
                <key>textureRect</key>
                <string>{{1881,596},{129,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starWhite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,156}</string>
                <key>spriteSourceSize</key>
                <string>{163,156}</string>
                <key>textureRect</key>
                <string>{{1828,868},{163,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tickerTape_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,103}</string>
                <key>spriteSourceSize</key>
                <string>{30,103}</string>
                <key>textureRect</key>
                <string>{{1776,566},{30,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tickerTape_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,103}</string>
                <key>spriteSourceSize</key>
                <string>{30,103}</string>
                <key>textureRect</key>
                <string>{{1776,598},{30,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tickerTape_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,103}</string>
                <key>spriteSourceSize</key>
                <string>{30,103}</string>
                <key>textureRect</key>
                <string>{{1776,630},{30,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_effect.png</string>
            <key>size</key>
            <string>{2026,1068}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6719f471e1e0a90b8f81920c4e13ccc:8464551ef5f8b60e05ccc0ae2383b988:7dcd3f0c54f6cae58f4c848dd7a9a343$</string>
            <key>textureFileName</key>
            <string>ui_effect.png</string>
        </dict>
    </dict>
</plist>
