<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ShareBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,87}</string>
                <key>spriteSourceSize</key>
                <string>{83,87}</string>
                <key>textureRect</key>
                <string>{{494,709},{83,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,43}</string>
                <key>spriteSourceSize</key>
                <string>{39,43}</string>
                <key>textureRect</key>
                <string>{{969,997},{39,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>arrowSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,49}</string>
                <key>spriteSourceSize</key>
                <string>{44,49}</string>
                <key>textureRect</key>
                <string>{{99,1078},{44,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>backBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,81}</string>
                <key>spriteSourceSize</key>
                <string>{113,81}</string>
                <key>textureRect</key>
                <string>{{903,702},{113,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>backSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,59}</string>
                <key>spriteSourceSize</key>
                <string>{72,59}</string>
                <key>textureRect</key>
                <string>{{746,873},{72,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,76}</string>
                <key>spriteSourceSize</key>
                <string>{292,76}</string>
                <key>textureRect</key>
                <string>{{498,405},{292,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,64}</string>
                <key>spriteSourceSize</key>
                <string>{260,64}</string>
                <key>textureRect</key>
                <string>{{496,536},{260,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,125}</string>
                <key>spriteSourceSize</key>
                <string>{33,125}</string>
                <key>textureRect</key>
                <string>{{587,997},{33,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{890,865},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,124}</string>
                <key>spriteSourceSize</key>
                <string>{161,124}</string>
                <key>textureRect</key>
                <string>{{1,915},{161,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,237}</string>
                <key>spriteSourceSize</key>
                <string>{104,237}</string>
                <key>textureRect</key>
                <string>{{496,602},{104,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,80}</string>
                <key>spriteSourceSize</key>
                <string>{135,80}</string>
                <key>textureRect</key>
                <string>{{753,709},{135,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,80}</string>
                <key>spriteSourceSize</key>
                <string>{135,80}</string>
                <key>textureRect</key>
                <string>{{753,791},{135,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,50}</string>
                <key>spriteSourceSize</key>
                <string>{72,50}</string>
                <key>textureRect</key>
                <string>{{843,1029},{72,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,50}</string>
                <key>spriteSourceSize</key>
                <string>{72,50}</string>
                <key>textureRect</key>
                <string>{{895,997},{72,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,107}</string>
                <key>spriteSourceSize</key>
                <string>{123,107}</string>
                <key>textureRect</key>
                <string>{{170,804},{123,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,40}</string>
                <key>spriteSourceSize</key>
                <string>{77,40}</string>
                <key>textureRect</key>
                <string>{{746,955},{77,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,32}</string>
                <key>spriteSourceSize</key>
                <string>{76,32}</string>
                <key>textureRect</key>
                <string>{{809,1029},{76,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,33}</string>
                <key>spriteSourceSize</key>
                <string>{37,33}</string>
                <key>textureRect</key>
                <string>{{895,1079},{37,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,194}</string>
                <key>spriteSourceSize</key>
                <string>{130,194}</string>
                <key>textureRect</key>
                <string>{{211,495},{130,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,124}</string>
                <key>spriteSourceSize</key>
                <string>{200,124}</string>
                <key>textureRect</key>
                <string>{{1,556},{200,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,66}</string>
                <key>spriteSourceSize</key>
                <string>{35,66}</string>
                <key>textureRect</key>
                <string>{{550,1055},{35,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,47}</string>
                <key>spriteSourceSize</key>
                <string>{27,47}</string>
                <key>textureRect</key>
                <string>{{170,754},{27,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,119}</string>
                <key>spriteSourceSize</key>
                <string>{69,119}</string>
                <key>textureRect</key>
                <string>{{903,528},{69,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,284}</string>
                <key>spriteSourceSize</key>
                <string>{500,284}</string>
                <key>textureRect</key>
                <string>{{1,1},{500,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,78}</string>
                <key>spriteSourceSize</key>
                <string>{133,78}</string>
                <key>textureRect</key>
                <string>{{890,785},{133,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,38}</string>
                <key>spriteSourceSize</key>
                <string>{66,38}</string>
                <key>textureRect</key>
                <string>{{385,1059},{66,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,38}</string>
                <key>spriteSourceSize</key>
                <string>{66,38}</string>
                <key>textureRect</key>
                <string>{{510,1055},{66,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,144}</string>
                <key>spriteSourceSize</key>
                <string>{140,144}</string>
                <key>textureRect</key>
                <string>{{412,909},{140,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>closeBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{554,902},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,111}</string>
                <key>spriteSourceSize</key>
                <string>{143,111}</string>
                <key>textureRect</key>
                <string>{{758,596},{143,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crownBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,111}</string>
                <key>spriteSourceSize</key>
                <string>{143,111}</string>
                <key>textureRect</key>
                <string>{{199,691},{143,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crownBig.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,68}</string>
                <key>spriteSourceSize</key>
                <string>{83,68}</string>
                <key>textureRect</key>
                <string>{{425,1055},{83,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crownSmall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,55}</string>
                <key>spriteSourceSize</key>
                <string>{67,55}</string>
                <key>textureRect</key>
                <string>{{328,1059},{67,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dailyBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,91}</string>
                <key>spriteSourceSize</key>
                <string>{68,91}</string>
                <key>textureRect</key>
                <string>{{930,1},{68,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dailySprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,80}</string>
                <key>spriteSourceSize</key>
                <string>{78,80}</string>
                <key>textureRect</key>
                <string>{{809,873},{78,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>emptyStar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,49}</string>
                <key>spriteSourceSize</key>
                <string>{50,49}</string>
                <key>textureRect</key>
                <string>{{344,753},{50,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>emptyStar2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,47}</string>
                <key>spriteSourceSize</key>
                <string>{48,47}</string>
                <key>textureRect</key>
                <string>{{1,1078},{48,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>exitBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,102}</string>
                <key>spriteSourceSize</key>
                <string>{130,102}</string>
                <key>textureRect</key>
                <string>{{510,798},{130,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>failTitel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,50}</string>
                <key>spriteSourceSize</key>
                <string>{148,50}</string>
                <key>textureRect</key>
                <string>{{344,701},{148,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>freeText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,59}</string>
                <key>spriteSourceSize</key>
                <string>{208,59}</string>
                <key>textureRect</key>
                <string>{{1,495},{208,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameTitel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,255}</string>
                <key>spriteSourceSize</key>
                <string>{425,255}</string>
                <key>textureRect</key>
                <string>{{503,1},{425,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giftBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,119}</string>
                <key>spriteSourceSize</key>
                <string>{108,119}</string>
                <key>textureRect</key>
                <string>{{903,418},{108,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>giftBtn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,113}</string>
                <key>spriteSourceSize</key>
                <string>{101,113}</string>
                <key>textureRect</key>
                <string>{{903,599},{101,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>giftLight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,135}</string>
                <key>spriteSourceSize</key>
                <string>{120,135}</string>
                <key>textureRect</key>
                <string>{{903,281},{120,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hintBig.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,144}</string>
                <key>spriteSourceSize</key>
                <string>{141,144}</string>
                <key>textureRect</key>
                <string>{{269,913},{141,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hintBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,91}</string>
                <key>spriteSourceSize</key>
                <string>{68,91}</string>
                <key>textureRect</key>
                <string>{{930,71},{68,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hintSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,18}</string>
                <key>spriteSourceSize</key>
                <string>{13,18}</string>
                <key>textureRect</key>
                <string>{{903,258},{13,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,145}</string>
                <key>spriteSourceSize</key>
                <string>{140,145}</string>
                <key>textureRect</key>
                <string>{{127,915},{140,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>medalha0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,87}</string>
                <key>spriteSourceSize</key>
                <string>{63,87}</string>
                <key>textureRect</key>
                <string>{{150,1062},{63,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>medalha1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,87}</string>
                <key>spriteSourceSize</key>
                <string>{63,87}</string>
                <key>textureRect</key>
                <string>{{239,1062},{63,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>medalha2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,87}</string>
                <key>spriteSourceSize</key>
                <string>{63,87}</string>
                <key>textureRect</key>
                <string>{{664,793},{63,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>musicOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,87}</string>
                <key>spriteSourceSize</key>
                <string>{83,87}</string>
                <key>textureRect</key>
                <string>{{579,709},{83,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>musicOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,87}</string>
                <key>spriteSourceSize</key>
                <string>{83,87}</string>
                <key>textureRect</key>
                <string>{{664,708},{83,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nextBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,102}</string>
                <key>spriteSourceSize</key>
                <string>{130,102}</string>
                <key>textureRect</key>
                <string>{{642,858},{130,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nextSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,59}</string>
                <key>spriteSourceSize</key>
                <string>{72,59}</string>
                <key>textureRect</key>
                <string>{{825,955},{72,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pauseBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,91}</string>
                <key>spriteSourceSize</key>
                <string>{68,91}</string>
                <key>textureRect</key>
                <string>{{930,141},{68,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>progressBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,122}</string>
                <key>spriteSourceSize</key>
                <string>{341,122}</string>
                <key>textureRect</key>
                <string>{{1,287},{341,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>redPoint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,43}</string>
                <key>spriteSourceSize</key>
                <string>{39,43}</string>
                <key>textureRect</key>
                <string>{{969,1038},{39,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>resetBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,102}</string>
                <key>spriteSourceSize</key>
                <string>{130,102}</string>
                <key>textureRect</key>
                <string>{{622,990},{130,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,159}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{1,754},{167,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,106}</string>
                <key>spriteSourceSize</key>
                <string>{111,106}</string>
                <key>textureRect</key>
                <string>{{295,804},{111,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,152}</string>
                <key>spriteSourceSize</key>
                <string>{159,152}</string>
                <key>textureRect</key>
                <string>{{344,287},{159,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>starBg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,100}</string>
                <key>spriteSourceSize</key>
                <string>{103,100}</string>
                <key>textureRect</key>
                <string>{{408,804},{103,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>starLight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,189}</string>
                <key>spriteSourceSize</key>
                <string>{109,189}</string>
                <key>textureRect</key>
                <string>{{792,405},{109,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSamll2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,47}</string>
                <key>spriteSourceSize</key>
                <string>{48,47}</string>
                <key>textureRect</key>
                <string>{{50,1078},{48,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>starSmall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,49}</string>
                <key>spriteSourceSize</key>
                <string>{50,49}</string>
                <key>textureRect</key>
                <string>{{396,753},{50,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,70}</string>
                <key>spriteSourceSize</key>
                <string>{196,70}</string>
                <key>textureRect</key>
                <string>{{1,682},{196,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taskBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,91}</string>
                <key>spriteSourceSize</key>
                <string>{68,91}</string>
                <key>textureRect</key>
                <string>{{930,211},{68,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>taskBtn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,81}</string>
                <key>spriteSourceSize</key>
                <string>{113,81}</string>
                <key>textureRect</key>
                <string>{{726,997},{113,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>timeSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{930,1049},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timeSprite1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{758,536},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timeSprite2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{448,753},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titelBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,82}</string>
                <key>spriteSourceSize</key>
                <string>{341,82}</string>
                <key>textureRect</key>
                <string>{{1,411},{341,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titelLight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,251}</string>
                <key>spriteSourceSize</key>
                <string>{150,251}</string>
                <key>textureRect</key>
                <string>{{344,448},{150,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titelMask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,145}</string>
                <key>spriteSourceSize</key>
                <string>{398,145}</string>
                <key>textureRect</key>
                <string>{{503,258},{398,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warnSamll.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,29}</string>
                <key>spriteSourceSize</key>
                <string>{11,29}</string>
                <key>textureRect</key>
                <string>{{772,483},{11,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winTitel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,51}</string>
                <key>spriteSourceSize</key>
                <string>{274,51}</string>
                <key>textureRect</key>
                <string>{{496,483},{274,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_view.png</string>
            <key>size</key>
            <string>{1024,1127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3c1f091d7b6c556c8d0dc3f1f4af89e:0ed9c2fbc592eaa88701ae75163e0cbe:b1c26fa13c8de854d73db210ad0cec7a$</string>
            <key>textureFileName</key>
            <string>ui_view.png</string>
        </dict>
    </dict>
</plist>
